@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("../font/HarmonyOS_Sans_SC_Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "液晶电子表";
  src: url("../font/UnidreamLED.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "汉仪霹雳体简";
  src: url("../font/汉仪霹雳体简.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  font: 16px/1 "HarmonyOS Sans SC";
  user-select: none;
}

table {
  width: 100%;
  table-layout: fixed;
  user-select: text;
}

th,
td {
  border: 2px solid #eee;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}
