@font-face {
  font-family: "液晶电子表";
  src: url("../font/UnidreamLED.ttf");
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("../font/HarmonyOS_Sans_SC_Medium.woff2");
  font-display: swap;
}

@font-face {
  font-family: "汉仪霹雳体简";
  src: url("../font/汉仪霹雳体简.woff");
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 16px/1.5 "HarmonyOS";
  cursor: url("../img/cursor/normal.cur"), auto;
  user-select: none;
}

table {
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
  cursor: url("../img/cursor/text.cur"), text;
  user-select: text;
}

th,
td {
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
}

th {
  width: 30%;
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: url("../img/cursor/Link.cur"), pointer;
}
