html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 16px/1.5 "HarmonyOS";
  cursor: url("../img/cursor/normal.cur"), auto;
  user-select: none;
}

table {
  width: 100%;
  table-layout: fixed;
  cursor: url("../img/cursor/text.cur"), text;
}

th,
td {
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
}

th {
  width: 30%;
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover,
button:hover,
.loaded:hover {
  cursor: url("../img/cursor/Link.cur"), pointer;
}
