.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #0f1214 url(../img/bg.png) center center/cover no-repeat fixed;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}