.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('../img/bg.png') no-repeat center center/cover fixed;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}