/* 加载进度条 */
.pace {
  pointer-events: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 99;
  width: 100%;
  height: 3px;
  background-color: #29d;
}

/* 域名到期预警 */
.countdown-blue {
  color: #4772fa;
}

.countdown-yellow {
  color: #ffb000;
}

.countdown-red {
  color: #e03131;
}

/* 导航菜单按钮 */
.iziToast.iziToast-theme-dark div.iziToast-buttons > button {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

/* GitHub Corners */
.github-corner svg {
  position: fixed;
  top: 0;
  color: #f3f5f8;
  fill: #151513;
}

/* 分享链接按钮 */
.social-share {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.social-share-mend {
  display: flex;
}

.social-share a.social-share-icon {
  border: 0;
}

.social-share .social-share-icon:first-child {
  color: #56b6e7;
}

.social-share .social-share-icon:first-child:hover {
  background: #56b6e7;
}

.social-share .icon-wechat div.wechat-qrcode {
  border: none;
  box-shadow: none;
  background-color: #252d38;
}

.social-share .icon-wechat div.wechat-qrcode:after {
  border-top-color: #252d38;
}

/* 明暗切换按钮 */
.darkmode-toggle {
  font-size: 1.5rem;
}

/* 浅色模式适配 */
.darkmode--activated .loaded {
  background-color: #f3f5f8;
}

.darkmode--activated .twinkle {
  color: #1a202c;
}

.darkmode--activated .container {
  color: #181c27;
  background-color: rgba(243, 245, 248, 0.6);
  box-shadow: 0 0 10px #aaa;
}

.darkmode--activated .load-text,
.darkmode--activated .logo i,
.darkmode--activated .title {
  color: #000;
}

.darkmode--activated .nav i,
.darkmode--activated .link {
  color: #151513;
}

.darkmode--activated .divider {
  background-color: #16181a;
}

.darkmode--activated th,
.darkmode--activated td {
  border-color: #16181a;
}

.darkmode--activated .footer a {
  color: #2c3e50;
}

.darkmode--activated .pace .pace-progress {
  background-color: #1e92fb;
}

.darkmode--activated .github-corner svg {
  color: #151513;
  fill: #f3f5f8;
}

.darkmode--activated .social-share .icon-wechat div.wechat-qrcode {
  background-color: #e1e1e1;
}

.darkmode--activated .social-share .icon-wechat div.wechat-qrcode:after {
  border-top-color: #e1e1e1;
}
