@media (min-width: 375px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39);
  }
}

@media (min-width: 414px) {
  html {
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586);
  }
}

@media (min-width: 600px) {
  html {
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
    font-size: calc(20px + 4 * (100vw - 600px) / 400);
  }
}

@media (min-width: 1000px) {
  html {
    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
    font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
  }
}

/* 移动端 */
@media (max-width: 1024px), (orientation: portrait), (any-hover: none) {
  /* GitHub Corners */
  .github-corner svg {
    width: 3rem;
    height: 3rem;
  }

  /* 加载动画 */
  .load-text {
    font-size: 2rem;
  }

  .digit {
    letter-spacing: 0.125rem;
  }

  .twinkle {
    bottom: 1rem;
    font-size: 0.75rem;
  }

  /* 页面容器 */
  .bg::before {
    background-size: cover;
  }

  .container {
    min-width: 320px;
    min-height: 100vh;
    padding: 1rem;
  }

  /* 头部内容 */
  .header {
    margin-top: 2rem;
  }

  .nav {
    top: -0.25rem;
    right: -0.25rem;
  }

  .nav i {
    display: inline-flex;
    padding: 0.25rem;
    font-size: 1.25rem;
    opacity: 1;
  }

  .logo i {
    font-size: 1.875rem;
  }

  .title {
    margin-top: 0.625rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .divider {
    margin: 1rem 0;
    height: 0.1875rem;
  }

  /* 主体内容 */
  .describe,
  .info {
    line-height: 1.4;
  }

  .describe {
    font-size: 1.125rem;
  }

  .info {
    margin-top: 0.875rem;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
  }

  th,
  td {
    padding: 0.3125rem 0.625rem;
    border: 0.125rem solid #eee;
  }

  /* 底部内容 */
  .footer {
    position: relative;
    justify-content: flex-end;
    padding-top: 1rem;
    margin-bottom: 4rem;
    font-size: 0.75rem;
  }

  .filings-icp {
    position: absolute;
    top: 1rem;
    left: 0;
  }

  .cloud {
    font-size: 0.875rem;
  }

  .cloud-services p {
    margin-top: 0.625rem;
  }
}

/* 平板或较大的手机 */
@media (min-width: 600px) and (max-width: 1024px), (hover: none) {
  .title {
    letter-spacing: 0.1875rem;
  }
  .footer {
    padding-top: 2rem;
  }
  .filings-icp {
    top: 2rem;
  }
}

/* 桌面端 */
@media (min-width: 1024px) and (orientation: landscape) and (hover: hover) {
  /* 鼠标指针 */
  body,
  .iziToast {
    cursor: url("../img/cursor/normal.cur"), auto !important;
  }

  .loaded,
  .nav i,
  a,
  button {
    cursor: url("../img/cursor/link.cur"), pointer !important;
  }

  table {
    cursor: url("../img/cursor/text.cur"), text;
  }

  /* 加载动画 */
  .load-text {
    font-size: 36px;
  }

  .digit {
    letter-spacing: 2px;
  }

  .twinkle {
    bottom: 16px;
    font-size: 12px;
  }

  /* 页面容器 */
  .bg::before {
    background-size: contain;
  }

  .container {
    max-width: 800px;
    padding: 60px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
  }

  /* 头部内容 */
  .nav {
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s all;
  }

  .nav i {
    font-size: 20px;
  }

  .container:hover .nav {
    opacity: 1;
  }

  .header:hover .nav {
    transform: scale(1.2);
  }

  .logo i {
    font-size: 36px;
  }

  .title {
    margin-top: 12px;
    font-size: 32px;
    letter-spacing: 3px;
  }

  .divider {
    margin: 19.3px 0;
    height: 3px;
  }

  /* 主体内容 */
  .describe {
    font-size: 18px;
  }

  .link:hover {
    padding-bottom: 1px;
    border-bottom: 1px dashed;
  }

  .info {
    margin-top: 14px;
    letter-spacing: 1px;
  }

  th,
  td {
    padding: 10px 20px;
  }

  th {
    width: 30%;
  }

  td {
    width: 70%;
  }

  /* 底部内容 */
  .footer {
    justify-content: space-between;
    padding-top: 24px;
    font-size: 12px;
  }

  .footer a:hover {
    color: #30a9de;
  }

  .filings-icp {
    align-self: flex-end;
  }

  .cloud {
    font-size: 14px;
  }

  .cloud-services p {
    margin-top: 10px;
  }

  /* GitHub Corners */
  .github-corner svg {
    width: 80px;
    height: 80px;
  }

  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }

    20%,
    60% {
      transform: rotate(-25deg);
    }

    40%,
    80% {
      transform: rotate(10deg);
    }
  }

  @media (max-width: 500px) {
    .github-corner:hover .octo-arm {
      animation: none;
    }

    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
