/* 加载动画 */
.loaded {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #151513;
}

.load-text {
  color: #fff;
}

.digit {
  font-family: "液晶电子表";
}

.twinkle {
  position: absolute;
  color: #a7a9ad;
  animation: blink 1.3s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.3;
  }
}

/* 页面容器 */
.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #000 url("../img/bg.svg") center;
}

.bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/bg.png") center no-repeat;
  z-index: -1;
  opacity: 0.5;
  filter: blur(5px);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  color: #fefefe;
  background-color: rgba(21, 21, 19, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* 头部内容 */
.header {
  position: relative;
}

.nav {
  position: absolute;
}

.nav i,
.link {
  color: #f3f5f8;
}

.logo,
.title {
  text-align: center;
}

.logo i,
.title {
  color: #fff;
}

.title {
  font-family: "汉仪霹雳体简";
}

.divider {
  background-color: #eee;
}

/* 主体内容 */
.main {
  flex: 1;
}

#timer,
#countdown {
  user-select: none;
}

/* 底部内容 */
.footer {
  display: flex;
  color: #718096;
}

.filings {
  color: #1589e9;
}

.cloud-services {
  text-align: right;
}

.cloud {
  color: #d0d0d0;
}

/* 用来操作DOM，不要动 */
.display-none {
  display: none;
}
