.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #000 url("../img/bg.png") center/cover no-repeat;
}

.loaded {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #151513;
}

.load-text {
  font-size: 2rem;
  color: #fff;
  /* isolation: isolate; */
}

.twinkle {
  position: absolute;
  bottom: 1rem;
  font-size: 12px;
  color: #c4c6c9;
  animation: blink 1.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes smooth {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  display: none;
  max-width: 900px;
  padding: 60px;
  border-radius: 10px;
  color: #fefefe;
  background-color: rgba(21, 21, 19, 0.6);
  box-shadow: 0 0 10px 0 #788193;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header {
  text-align: center;
  color: #fff;
}

.logo .icon-dragon {
  font-size: 40px;
}

.title {
  font: 32px/2 "汉仪霹雳体简";
}

.divider {
  height: 2px;
  margin: 10px 0;
  background-color: #eaecef;
}

.describe {
  padding: 10px 0;
  font-size: 18px;
}

.link {
  color: #eee;
}

.link:hover {
  padding-bottom: 1px;
  border-bottom: 1px dashed;
}

.digit {
  font-family: "液晶电子表";
  letter-spacing: 2px;
}

.footer {
  position: relative;
  padding-top: 45px;
  text-align: right;
  font-size: 12px;
  color: #718096;
}

.footer a:hover {
  color: #30a9de;
}

.beian {
  position: absolute;
  bottom: 0;
}

.filings {
  color: #d0d0d0;
}

.cloud {
  font-size: 14px;
  color: #1589e9;
}

.print {
  margin-top: 6px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
